.section-hero {
  border-top: 5px solid $success;
  padding: 140px 0;
  background-size: cover;
  background-position: center;
  position: relative;
  @include media-breakpoint-down('md') {
    padding: 100px 0;
  }
  .hero-heading {
    margin-bottom: 53px;
    max-width: 500px;
  }
  @media screen and (max-width: 1024px) {
    margin-bottom: 360px;
    .hero-content {
      position: absolute;
      bottom: -320px;
      .hero-heading {
        line-height: 46px;
      }
    }
  }
}