<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Suncorp Learning Campus | Partners in Education</title>
    <link rel="icon" type="image/png" href="./media/favicon.png" />
    <link href="./app.css" rel="stylesheet" />
  </head>
  <body>
    <div class="site">
      <div class="site-main">
        <div class="section-hero" style="background-image: url('./media/hero.png');">
          <div class="container">
            <div class="hero-content">
              <h2 class="hero-heading text-success font-weight-medium h2">
                Welcome to the&nbsp;
                <span class="text-info font-weight-bold h1-md h3">
                  Suncorp Learning Campus
                </span>
              </h2>
              <a class="btn btn-success" href="https://suncorplearningcampus.com/p/#/access/signin" target="_blank">
                LOGIN
              </a>
            </div>
          </div>  
        </div>
        <div class="section-main bg-light">
          <div class="container">
            <div class="row flex-wrap-reverse">
              <div class="col-lg-8 pr-lg-12">
                <div class="pr-lg-5">
                  <h3 class="text-success font-weight-medium mb-6">Partners in Education</h3>
                  <p>Having the right skills in this environment is critical and the Suncorp Learning Campus aims to assist you with access to affordable, ongoing education and training. </p>
                  <p>You can gain immediate access to over 1,000 CPD accredited online courses in addition to specialist online and face-to-face education providers to build you and your team's skills and capabilities. </p>
                  <p>From only $99 per year, you can start building your skills for the future. View more <a class="text-success text-underline" href="./media/suncorp-early-learning.pdf" target="_blank">here</a>.</p>
                  <p>View this video to see how easy it is to start learning today.</p>
                  <a data-fancybox href="https://vimeo.com/354140821/7c7c424e25" data-width="960" data-height="540">
                    <div class="video" style="background-image: url('./media/video-background.png')">
                      <div class="play-button">
                        <img src="./media/play.png" alt="paly button" />
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 pl-lg-10">
                <div class="card-campus bg-white">
                  <img src="./media/suncorp-campus.png" alt="suncorp campus"/>
                </div>
                <div class="card-service bg-success">
                  <img src="./media/book.png" alt="book" />
                  <h4 class="text-white">Start your free 30-day trial today</h4>
                  <a href="https://suncorplearningcampus.com/p/#/access/signup" class="text-white font-weight-bold text-underline" target="_blank">Create an account today</a>
                  <span class="text-white font-weight-light"> to gain immediate access for 30 days, obligation free.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="site-footer bg-white">
        <div class="container">
          <div class="footer-main">
            <a href="https://www.go1.com/en-au/terms/user-terms" class="text-success font-size-xs text-underline" target="_blank">End User License Agreement</a>
            <div class="text-info font-size-xs">
              &copy; Copyright 2019 Suncorp Group 
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>