$container-gutter-width: 22px;

$font-maps: (
  'AtlasGroteskLight':          ( family: 'AtlasGrotesk',       file: 'AtlasGrotesk-Light',            weight: 300, style: normal ),
  'AtlasGroteskRegular':        ( family: 'AtlasGrotesk',       file: 'AtlasGrotesk-Regular',          weight: 400, style: normal ),
  'AtlasGroteskMedium':         ( family: 'AtlasGrotesk',       file: 'AtlasGrotesk-Medium',           weight: 500, style: normal ),
  'AtlasGroteskBold':           ( family: 'AtlasGrotesk',       file: 'AtlasGrotesk-Bold',             weight: 700, style: normal ),
  'AtlasGroteskBlack':          ( family: 'AtlasGrotesk',       file: 'AtlasGrotesk-Black',            weight: 900, style: normal ),
);

$font-weight-maps: (
  'light': $font-weight-light,
  'normal': $font-weight-normal,
  'medium': $font-weight-medium,
  'bold': $font-weight-bold,
  'black': $font-weight-bolder
);

$icon-size-maps: (
  'xl': 48px,
  'lg': 36px,
  'md': 30px,
  'base': 24px,
  'msm': 20px,
  'sm': 16px,
  'xs': 12px
);

$heading-maps: (
  'h1': ('font-size': $h1-font-size, 'letter-spacing': -1.52px, 'line-height': 66.84px),
  'h2': ('font-size': $h2-font-size, 'letter-spacing': -1.17px, 'line-height': 66.84px),
  'h3': ('font-size': $h3-font-size, 'letter-spacing': -0.5px, 'line-height': 45px),
  'h4': ('font-size': $h4-font-size, 'letter-spacing': -0.5px, 'line-height': 45px),
  'h5': ('font-size': $h5-font-size, 'letter-spacing': 0, 'line-height': 1),
  'h6': ('font-size': $h6-font-size, 'letter-spacing': 0, 'line-height': 1)
);

$font-size-maps: (
  'lg': ('font-size': $font-size-base * 1.25, 'line-height': 1.5),
  'md': ('font-size': $font-size-base * 1.125),
  'base': ('font-size': $font-size-base),
  'sm': ('font-size': $font-size-base * 0.875),
  'xs': ('font-size': $font-size-base * 0.75)
);
